*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.main_session{
    background-color: rgb(3, 42, 81);
    color: rgb(162, 159, 159);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main_session h1{
    font-size: 70px;
}
.main_session p{
    font-size: 22px;
}
header{
    display: flex;
    justify-content: space-around;
    /* margin: 20px; */
    background-color: rgb(3, 42, 81);
    color: rgb(180, 176, 176);
    padding: 40px;
}
.btn{
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: rgb(60, 12, 104);
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.btn:hover{
    box-shadow: 2px 2px 2px rgb(239, 70, 239);
}
.main_session{
    text-align: center;
    padding: 20px;
}
.images{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.serach_phone{
    background-color: rgb(31, 34, 46);
    color: rgb(157, 155, 155);
    text-align: center;
    padding: 50px;
    
}
.search{
    padding: 15px;
    border-radius: 10px;
    width: 18rem;
    background-color: rgb(31, 34, 46);
    font-size: 14px;
    border: 1px solid rgb(181, 178, 178);
}
footer{
    background-color: rgb(4, 35, 68);
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 50vh;
    font-size: 1.2rem;
    align-items: center;
    /* font-weight: bold; */
    flex-direction: column;

}
footer p{
    font-size: 1.2rem;
}
footer span{
    font-weight: 800;
}

.bi-twitter{
    /* background-color: aqua; */
    font-size: 5rem;

}